@charset "UTF-8";
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 14, 230);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.icon {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 15%;
    }
header {
    background-image: url('../fondoevo.jpg');
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    color: white;
    width: 100%;
    }
#navbar ul {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
#navbar ul li .nav-link {
    color: white;
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-left: 35px;
    display: inline-block;
    margin-right: 20px;
    }
#navbar ul li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 5px;
    }
#navbar ul li {
    position:relative;
    display:contents;
    padding: 95px;
    }
#navbar ul li a:hover {
    background: linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    padding: 5px;
    border-radius: 35px;
    }
#navbar li:hover > ul {
    display: block;
    }
h1 {
    color: aliceblue;
    background: linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    border-radius: 150px;
    margin: 20px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.acceso-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.acceso {
    background: linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    display: block;
    padding: 40px 90px;
    margin: 50px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

#cart-section{
    color: aliceblue;
    align-items: center;
    text-align: center;
    padding: 45px;
}

#ejercicios-contenedor{
    color: aliceblue;
    align-items: center;
    text-align: center;
    padding: 45px;
}

.ejercicioAgregar{
    background:linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    padding: 15px;
    color: white;
    border-radius: 80px;
    margin-bottom: 80px;
}
.ejercicioAgregar:hover{
    background:linear-gradient(to right,#ffd92e,#e8a200, #d37000);
    padding: 19px;
    color: white;
    
}

.delete-btn{
    background:linear-gradient(to right,#e31726,#e45a15, #e8a200);
    padding: 15px;
    color: white;
    border-radius: 80px;
    margin-bottom: 80px;
}
.delete-btn:hover{
    background:linear-gradient(to right,#e8a200,#e45a15, #e31726);
    padding: 19px;
    color: white;
    
}




