@charset "UTF-8";
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 14, 230);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.icon {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 15%;
    }
header {
    background-image: url('./fondoevo.jpg');
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    color: white;
    width: 100%;
    }
#navbar ul {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
#navbar ul li .nav-link {
    color: white;
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-left: 35px;
    display: inline-block;
    margin-right: 20px;
    }
#navbar ul li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 5px;
    }
#navbar ul li {
    position:relative;
    display:contents;
    padding: 95px;
    }
#navbar ul li a:hover {
    background: linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    padding: 5px;
    border-radius: 35px;
    }
#navbar li:hover > ul {
    display: block;
    }
h1 {
    color: aliceblue;
    background: linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    border-radius: 150px;
    margin: 20px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.acceso-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.acceso {
    background: linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    display: block;
    padding: 40px 90px;
    margin: 50px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

#cart-section{
    color: aliceblue;
    align-items: center;
    text-align: center;
    padding: 45px;
}

#ejercicios-contenedor{
    color: aliceblue;
    align-items: center;
    text-align: center;
    padding: 45px;
}

.ejercicioAgregar{
    background:linear-gradient(to right,#d37000,#e8a200, #ffd92e);
    padding: 15px;
    color: white;
    border-radius: 80px;
    margin-bottom: 80px;
}
.ejercicioAgregar:hover{
    background:linear-gradient(to right,#ffd92e,#e8a200, #d37000);
    padding: 19px;
    color: white;
    
}

.delete-btn{
    background:linear-gradient(to right,#e31726,#e45a15, #e8a200);
    padding: 15px;
    color: white;
    border-radius: 80px;
    margin-bottom: 80px;
}
.delete-btn:hover{
    background:linear-gradient(to right,#e8a200,#e45a15, #e31726);
    padding: 19px;
    color: white;
    
}
/* 
------------------------ */
.co-container{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(14, 14, 230); /* Color de fondo */
    margin: 0;
}
/* Estilo del contenedor del formulario */
.container {
    background-color: #1a5eb6; 
    padding: 20px;
    border-radius: 15px;
    border-bottom: 15px solid transparent;
    border-image: linear-gradient(to bottom, #e8a200, #e45a15, #e31726);
    border-image-slice: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Ancho aumentado */
    margin: 20px; /* Separación adicional */
}

/* Estilo del encabezado */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

/* Estilo de los grupos de formulario */
.form-group {
    margin-bottom: 20px; /* Espacio adicional entre campos */
}

/* Estilo de las etiquetas de los campos */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fdfafa;
    
}

/* Estilo de los campos de entrada */
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
}

/* Estilo del botón de registro */
.form-group button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #e8a200, #e45a15, #e31726);
    border: none;
    border-radius: 34px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

/* Efecto de hover para el botón */
.form-group button:hover {
    background: linear-gradient(to right, #e31726, #e45a15, #e8a200);
    transform: scale(1.05);
}



/* SEDES */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.location {
    margin-bottom: 20px;
}

.location h2 {
    margin: 0;
    font-size: 24px;
}

.location img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.location a {
    color: black; /* Cambia el color de los enlaces a negro */
    text-decoration: none; /* Elimina la línea debajo del enlace */
    font-weight: bold; /* Opcional: Hacer el texto del enlace en negrita */
}

.location a:hover {
    color: gray; /* Color al pasar el mouse sobre el enlace */
}
